<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
        
        <add key="Asset.Image.LoadingScreen"
             value="https://raw.githubusercontent.com/Glowberry-Servers/Glowberry-Assets/master/images/LoadingScreen.png"/>
        
        <add key="Asset.Gif.Loader" 
             value="https://raw.githubusercontent.com/Glowberry-Servers/Glowberry-Assets/master/images/loader.gif"/>
        
        <add key="Asset.Gif.Clock" 
             value="https://raw.githubusercontent.com/Glowberry-Servers/Glowberry-Assets/master/images/clock.gif"/>
        
        <add key="Asset.Icon.FolderBrowser"
             value="https://raw.githubusercontent.com/Glowberry-Servers/Glowberry-Assets/master/images/folderbrowser.png"/>
        
        <add key="Asset.Icon.Vanilla" 
             value="https://raw.githubusercontent.com/Glowberry-Servers/Glowberry-Assets/master/images/vanilla.png"/>
        
        <add key="Asset.Icon.Forge" 
             value="https://raw.githubusercontent.com/Glowberry-Servers/Glowberry-Assets/master/images/forge.png"/>
        
        <add key="Asset.Icon.Spigot" 
             value="https://raw.githubusercontent.com/Glowberry-Servers/Glowberry-Assets/master/images/spigot.png"/>

        <add key="Asset.Icon.Fabric"
                value="https://raw.githubusercontent.com/Glowberry-Servers/Glowberry-Assets/master/images/fabric.png"/>
        
        <add key="Asset.Icon.Unknown" 
             value="https://raw.githubusercontent.com/Glowberry-Servers/Glowberry-Assets/master/images/unknown.png"/>
        
        <add key="Asset.Icon.Tooltip" 
             value="https://raw.githubusercontent.com/Glowberry-Servers/Glowberry-Assets/master/images/tooltip.png"/>
        
        <add key="Asset.Icon.Refresh" 
             value="https://raw.githubusercontent.com/Glowberry-Servers/Glowberry-Assets/master/images/refresh.png"/>
        
        <add key="Asset.Icon.App" 
             value="https://raw.githubusercontent.com/Glowberry-Servers/Glowberry-Assets/master/main/logo.ico"/>
        
        <add key="Version.App.Override" value="disabled"/>
    </appSettings>
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2" />
    </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>

